.switch {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 34px;
}

.switch-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
}

.switch-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #CCCCCC;
    cursor: pointer;
    transition: 0.4s;
}

.switch-slider:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    bottom: 0;
    height: 40px;
    width: 40px;
    margin: auto 0;
    border: 1px solid #CCCCCC;
    border-radius: 50%;
    background-color: #FFFFFF;
    background-image: url('../img/dark_theme/moon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    transition: 0.4s;
}

.switch-checkbox:checked+.switch-slider:before {
    transform: translateX(24px);
    background-color: #FFFFFF;
    background-image: url('../img/dark_theme/sun.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}